<form class="mt-4" method="POST" action="/courses/handle-form-actions" name="handle-form-actions">
  <h3>My course stored</h3>
  <a href="/me/trash/courses">Trash ({{countDeleted}})</a>

  <div class="d-flex align-items-center my-4">
    <div class="form-check">
      <input class="form-check-input" type="checkbox" id="checkbox-all">
      <label class="form-check-label" for="checkbox-all">
        Select all
      </label>
    </div>
    <select class="form-select form-select-sm select-action" name="action" required>
      <option value="">--Select action--</option>
      <option value="delete">Delete</option>
    </select>
    <button type="submit" class="btn btn-primary disabled" id="check-action-submit">Excute</button>
  </div>

  <table class="table table-hover">
    <thead>
      <tr>
        <th scope="col" colspan="2">#</th>
        <th scope="col">
          Name
          {{{sortable 'name' _sort}}}
        </th>
        <th scope="col">Description</th>
        <th scope="col">Created at</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
      {{#each courses}}
      <tr>
        <td>
          <div class="form-check">
            <input type="checkbox" class="form-check-input" name="courseIds[]" value="{{this._id}}">
          </div>
        </td>
        <td>{{sum @index 1}}</td>
        <td>{{this.name}}</td>
        <td>{{this.description}}</td>
        <td>{{this.createdAt}}</td>
        <td>
          <a href="/courses/{{this._id}}/edit" class="btn btn-link">Edit</a>
          <a href="#" class="btn btn-link" data-bs-toggle="modal" data-bs-target="#delete-course-modal"
            data-bs-whatever="{{this._id}}">
            Delete
          </a>
        </td>
      </tr>
      {{else}}
      <tr>
        <td colspan="5" class="text-center">You have no course! <a href="/courses/create">Create new course here</a>
        </td>
      </tr>
      {{/each}}
    </tbody>
  </table>
</form>

<div class="modal" id="delete-course-modal" tabindex="-1">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Delete course</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <p>Are you sure delete this course?</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
        <button type="button" class="btn btn-danger" id="btn-delete-course">OK!</button>
      </div>
    </div>
  </div>
</div>

{{!-- Delete hidden form --}}
<form action="" method="POST" name="delete-course-form"></form>
<script>
  document.addEventListener('DOMContentLoaded', function () {
    let courseId
    const btnDeleteCourse = $('#btn-delete-course')
    const deleteCourseModal = $('#delete-course-modal')
    const deleteForm = document.forms['delete-course-form']
    const checkboxAll = $('#checkbox-all')
    const courseItemCheckboxList = Array.from($$('input[name="courseIds[]"]'))
    const submitActionBtn = $('#check-action-submit')
    const handleActionsForm = document.forms['handle-form-actions']

    deleteCourseModal.addEventListener('show.bs.modal', function (event) {
      var button = event.relatedTarget
      courseId = button.getAttribute('data-bs-whatever')
    })

    btnDeleteCourse.addEventListener('click', function () {
      deleteForm.action = `/courses/${courseId}?_method=DELETE`
      deleteForm.submit()
    })

    handleActionsForm.addEventListener('submit', function (e) {
      const isSubmitable = !submitActionBtn.classList.contains('disabled')
      if (isSubmitable) {
        handleActionsForm.submit()
      }
    })

    checkboxAll.addEventListener('change', function (e) {
      const isCheckedAll = e.target.checked
      courseItemCheckboxList.forEach(courseCheckbox => {
        courseCheckbox.checked = isCheckedAll
        renderBackgroundCheckboxSelected(courseCheckbox)
        renderSubmitButtonIfChecked()
      })
    })

    courseItemCheckboxList.forEach(courseItemCheckBox => {
      courseItemCheckBox.addEventListener('change', function (e) {
        const isCheckedAll = courseItemCheckboxList.every(item => item.checked)
        checkboxAll.checked = isCheckedAll
        renderBackgroundCheckboxSelected(courseItemCheckBox)
        renderSubmitButtonIfChecked()
      })
    })

    function renderBackgroundCheckboxSelected(checkboxElm) {
      checkboxElm.closest('tr').style.backgroundColor = checkboxElm.checked ? '#f8f9fa' : ''
    }

    function renderSubmitButtonIfChecked() {
      const isExistChecked = !!$('input[name="courseIds[]"]:checked')
      if (isExistChecked) {
        submitActionBtn.classList.remove('disabled')
      } else {
        submitActionBtn.classList.add('disabled')
      }
    }
  })
</script>